
$md-uitdarkgreen: (
  50 : #e1e5e5,
  100 : #b4bebf,
  200 : #839395,
  300 : #51676a,
  400 : #2b474a,
  500 : #06262a,
  600 : #052225,
  700 : #041c1f,
  800 : #031719,
  900 : #020d0f,
  A100 : #52e2ff,
  A200 : #1fdaff,
  A400 : #00c3eb,
  A700 : #00aed1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$md-uitlightgreen: (
  50 : #e4fcf8,
  100 : #bbf8ec,
  200 : #8ef4e0,
  300 : #60efd4,
  400 : #3eebca,
  500 : #1ce8c1,
  600 : #19e5bb,
  700 : #14e2b3,
  800 : #11deab,
  900 : #09d89e,
  A100 : #ffffff,
  A200 : #cffff0,
  A400 : #9cffe0,
  A700 : #83ffd8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-uitviolet: (
  50 : #efebfe,
  100 : #d8cdfc,
  200 : #beabfa,
  300 : #a389f7,
  400 : #9070f6,
  500 : #7c57f4,
  600 : #744ff3,
  700 : #6946f1,
  800 : #5f3cef,
  900 : #4c2cec,
  A100 : #ffffff,
  A200 : #f9f8ff,
  A400 : #cec5ff,
  A700 : #b8acff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


